@using LibraryMVC.Resources
@model Library.Models.Borrow

@{
    ViewBag.Title = Language_Basket.BorrowDetails;
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(Language_Basket.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>

        <dt>
            @Html.DisplayName(Language_Basket.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reader.Name)
        </dd>

        <dt>
            @Html.DisplayName(Language_Basket.BorrowDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>

        <dt>
            @Html.DisplayName(Language_Basket.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayName(Language_Basket.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Language_WorkerPanel.Edit, "Edit", new { id = Model.BorrowID }) |
    @Html.ActionLink(Language_WorkerPanel.BackToList, "Index")
</p>
