@using LibraryMVC.Resources
@model IEnumerable<Library.Models.Borrow>

@{
    ViewBag.Title = Language_Basket.YourBorrows;
}

<h2>@ViewBag.Title:</h2>

<div>
    @if (Model.Any())
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName(Language_Basket.Title)
                </th>
                <th>
                    @Html.DisplayName(Language_Basket.BorrowDate)
                </th>
                <th>
                    @Html.DisplayName(Language_Basket.Deadline)
                </th>
                <th>
                    @Html.DisplayName(Language_Basket.ReturnDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BorrowDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>@Language_Basket.NoBorrowHistory.</p>
    }
</div>
