@using LibraryMVC.Resources
@model Library.Models.SearchHistory

@{
    ViewBag.Title = Language_WorkerPanel.Delete;
}

<h2>@Language_Searches.DeleteLong</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(Language_Searches.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reader.Name)
        </dd>

        <dt>
            @Html.DisplayName(Language_Searches.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink(Language_WorkerPanel.BackToList, "Index", null, new { @class = "btn btn-info" })
            <input type="submit" value=@Language_WorkerPanel.Delete class="btn btn-danger"/>

        </div>
    }
</div>
