@using LibraryMVC.Resources
@model Library.Models.SearchHistory

@{
    ViewBag.Title = Language_Searches.SearchDetails;
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(Language_Searches.Reader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reader.Name)
        </dd>

        <dt>
            @Html.DisplayName(Language_Searches.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Language_WorkerPanel.Edit, "Edit", new { id = Model.SearchHistoryID }) |
    @Html.ActionLink(Language_WorkerPanel.BackToList, "Index")
</p>
