@using LibraryMVC.Resources
@model Library.Models.SearchHistory

@{
    ViewBag.Title = Language_Searches.SearchDetails;
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(Language_Searches.Reader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reader.Name)
        </dd>

        <dt>
            @Html.DisplayName(Language_Searches.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            
                @Html.DisplayNameFor(model => model.URL)

        </dt>

        <dd>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.URL)
            </div>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Language_WorkerPanel.BackToList, "Index", null, new { @class = "btn btn-info" })
    @Html.ActionLink(Language_WorkerPanel.Edit, "Edit", new { id = Model.SearchHistoryID }, new { @class = "btn btn-info" })

</p>
