@using LibraryMVC.Resources
@model IEnumerable<Library.Models.SearchHistory>

@{
    ViewBag.Title = Language_Searches.SavedSearches;
}

<h2>@ViewBag.Title</h2>
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>                
                @Language_Searches.User
            </th>
            <th>
                @Language_Searches.Name
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Reader.Name
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @Html.ActionLink(Language_Searches.Load, "Load", "Books", new { id = item.SearchHistoryID }, new { @class = "btn btn-success" })
                    @Html.ActionLink(Language_WorkerPanel.Edit, "Edit", new { id = item.SearchHistoryID }, new { @class = "btn btn-info" })
                    @Html.ActionLink(Language_WorkerPanel.Details, "Details", new { id = item.SearchHistoryID }, new { @class = "btn btn-default" })
                    @Html.ActionLink(Language_WorkerPanel.Delete, "Delete", new { id = item.SearchHistoryID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
}
else
{
<p>@Language_Searches.AnythingSavedYet</p>
}

