@model IEnumerable<Library.Models.SearchHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @if (User.IsInRole("admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.Reader)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @if (User.IsInRole("admin"))
        {
            <th></th>
        }
        </tr>

@foreach (var item in Model) {
    <tr>
        @if (User.IsInRole("admin"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.Reader.Name)
            </td>
        }
        <td>
            @Html.ActionLink(item.Name,"Load","Books",new {id = item.SearchHistoryID},null)
        </td>
        @if (User.IsInRole("admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.SearchHistoryID}) |
                @Html.ActionLink("Details", "Details", new {id = item.SearchHistoryID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.SearchHistoryID})
            </td>
        }
    </tr>
}

</table>
