@using LibraryMVC.Resources
@model IEnumerable<Library.Models.Writer>

@{
    ViewBag.Title = Language_Books.Writers;
}

<h2>@ViewBag.Title:</h2>

<p>
    @Html.ActionLink(Language_Writers.CreateNew, "Create")
</p>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName(Language_Writers.Name)
            </th>
            <th>
                @Html.DisplayName(Language_Writers.Surname)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.ActionLink(Language_WorkerPanel.Edit, "Edit", new {id = item.WriterID}) |
                    @Html.ActionLink(Language_WorkerPanel.Details, "Details", new {id = item.WriterID}) |
                    @Html.ActionLink(Language_WorkerPanel.Delete, "Delete", new {id = item.WriterID})
                </td>
            </tr>
        }

    </table>
}
else
{
    <p>@Language_Books.NoWriters.</p>
}