@using LibraryMVC.Resources
@model LibraryMVC.Models.Book

@{
    ViewBag.Title = Language_Books.Delete;
}

<h2>@Language_Books.DeleteLong</h2>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName(@Language_Books.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayName(@Language_Books.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayName(@Language_Books.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayName(@Language_Books.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayName(@Language_Books.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

        <dt>
            @Html.DisplayName(@Language_Books.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName(@Language_Books.Contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contents)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink(Language_Books.BackToList, "Index", null, new { @class = "btn btn-info" })
            <input type="submit" value=@Language_Books.Delete class="btn btn-danger"/>

        </div>
    }
</div>
