@model LibraryMVC.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="col-md-12">
    <h4>Book</h4>
    <hr />
    <div class="col-md-8 form-horizontal">
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })

            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })

            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })

            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })

            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })

            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.Category.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Writers, htmlAttributes: new { @class = "control-label col-md-2" })

            </div>
            <div class="col-md-8">
                @foreach (var writer in Model.Writers)
                {
                    var writertodisplay = writer.Writer.Name + " " + writer.Writer.Surname + Environment.NewLine;
                    <span style="white-space: pre-line">@Html.Raw(writertodisplay)</span>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Labels, htmlAttributes: new { @class = "control-label col-md-2" })

            </div>
            <div class="col-md-8">
                @foreach (var label in Model.Labels)
                {
                    var labeltodisplay = label.Label.Name + Environment.NewLine;
                    <span style="white-space: pre-line">@Html.Raw(labeltodisplay)</span>
                }
            </div>
        </div>
    </div>

    <div class="col-md-4 form-horizontal">
        @Html.ActionLink("Add to basket// not working yet", "Edit", "Books", new { id = Model.BookID }, new { @class = "btn btn-info" })
        <br/>
        <br />
        @Html.ActionLink("Edit","Edit","Books",new {id=Model.BookID},new {@class = "btn btn-info"})
    </div>
    <div class="col-md-12">
        <hr />
        <div class="col-md-2">
            @Html.LabelFor(model => model.Contents)
        </div>
        <div class="col-md-10">
            <span style="white-space: pre-line; word-wrap: break-word;">@Html.Raw(ViewBag.Content)</span>
        </div>
        
    </div>
    <div class="col-md-12">
        <hr />
        <div class="col-md-2">
            @Html.LabelFor(model => model.Files)
        </div>
        <div class="col-md-10 form-group">
            @foreach (var file in Model.Files)
            {
                <div>
                    <div class="col-md-10">
                       <span style="white-space: pre-line; word-wrap: break-word;"> @Html.Raw(file.Name)</span>
                        <hr />
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink(
                            "Download",
                            "Download",
                            "Books",
                            new { filename = file.Source, bookid = Model.BookID.ToString() },
                            new { @class = "btn btn-info" })
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="col-md-12">
        <hr/>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>


