@model IEnumerable<LibraryMVC.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Roles.IsUserInRole(User.Identity.Name, "Worker"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Labels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Writers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @{
                string labels="";
                foreach (var itemLabel in item.Labels)
                {
                    labels += itemLabel.Label.Name + Environment.NewLine;
                }
                var labelssize = labels.Length;
            }
            <span style="white-space: pre-line"> @Html.Raw(labels)</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @{
                string writers="";
                foreach (var itemWriter in item.Writers)
                {
                    writers += itemWriter.Writer.Name.Substring(0,1) + ". "+ itemWriter.Writer.Surname + Environment.NewLine;
                }
                var writerssize = writers.Length;
            }
            <span style="white-space: pre-line">@Html.Raw(writers)</span>
        </td>
        @if (Roles.IsUserInRole(User.Identity.Name, "Worker"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.BookID}) |
                @Html.ActionLink("Details", "Details", new {id = item.BookID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.BookID})
            </td>
        }
    </tr>
}

</table>
