@model LibraryMVC.Models.SearchVieModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBoxFor(m=>m.SelectedTitle)
        Category: @Html.DropDownListFor(m=>m.SelectedCategory,ViewBag.Categories as SelectList, htmlAttributes: new { @class = "chosen-single-select", style = "width:100px" })
        Labels: @Html.ListBoxFor(m=>m.SelectedLabels,ViewBag.Labels as SelectList, new { @class = "chosen-group-select", multiple = "multiple", style = "width:100px;" })
        Writers: @Html.ListBoxFor(m=>m.SelectedWriters,ViewBag.Writers as SelectList,new { @class = "chosen-group-select", multiple = "multiple", style = "width:100px;" })
        Year: @Html.TextBoxFor(m=>m.SelectedYear)
        ISBN: @Html.TextBoxFor(m=>m.SelectedISBN)
        <input type="submit" value="Filter" />
    </p>
}

@if (Roles.IsUserInRole(User.Identity.Name, "Worker"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Book.Labels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Writers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Books) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @{
                string labels="";
                foreach (var itemLabel in item.Labels)
                {
                    labels += itemLabel.Label.Name + Environment.NewLine;
                }
                var labelssize = labels.Length;
            }
            <span style="white-space: pre-line"> @Html.Raw(labels)</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @{
                string writers="";
                foreach (var itemWriter in item.Writers)
                {
                    writers += itemWriter.Writer.Name.Substring(0,1) + ". "+ itemWriter.Writer.Surname + Environment.NewLine;
                }
                var writerssize = writers.Length;
            }
            <span style="white-space: pre-line">@Html.Raw(writers)</span>
        </td>
        @if (Roles.IsUserInRole(User.Identity.Name, "Worker"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.BookID}) |
                @Html.ActionLink("Details", "Details", new {id = item.BookID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.BookID})
            </td>
        }
    </tr>
}

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/Bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/chosen.min.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.chosen-group-select').chosen();
            $('.chosen-single-select').chosen();
        });
    </script>
}