@using LibraryMVC.Resources
@model LibraryMVC.Models.Basket

@{
    ViewBag.Title = Language_Basket.Basket;
}

<h2>@ViewBag.Title:</h2>
@if (Model.Books.Any())
{
    <table class="table">
        <tr>
            <th>@Language_Basket.Title</th>
            <th>ISBN</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Books)
        {
            <tr>
                <td>@Html.DisplayName(item.Title)</td>
                <td>@Html.DisplayName(item.ISBN)</td>
                <td>@Html.ActionLink(Language_Basket.Remove, "DeleteFromBasket", "Basket", new { bookid = item.BookID }, new { @class = "btn btn-danger" })</td> @*remove*@
            </tr>
        }
    </table>
}
else
{
    <p>@Language_Basket.BasketIsEmpty.</p>
}

@if (Model.Books.Any())
{
    @Html.ActionLink(Language_Basket.Borrow,"Borrow","Basket",null, new {@class="btn btn-info"})
}
