@using LibraryMVC.Resources
@model Library.Models.Label

@{
    ViewBag.Title = Language_Labels.LabelDetails;
}

<h2>@ViewBag.Title:</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(Language_Labels.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Language_WorkerPanel.Edit, "Edit", new { id = Model.LabelID }) |
    @Html.ActionLink(Language_WorkerPanel.BackToList, "Index")
</p>
