@using LibraryMVC.Models
@using LibraryMVC.Resources
@model LibraryMVC.Models.UserRoleViewModel

<h1>@Language_User.AddRole:</h1>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.userid)
        @for(int i=0;i<Model.AllRoles.Count;i++)
        {
            @Html.HiddenFor(model=>model.AllRoles[i])
        }
        @Html.HiddenFor(model=>model.AllRoles)
        @for (int i = 0; i < Model.AllRoles.Count; i++)
        {
            <div class="form-group">
                @Html.Label(Model.AllRoles [i], new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(m => m.CheckedRoles [i], new {@data_toggle="toggle"})
                </div>
            </div>
            <hr/>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Language_WorkerPanel.Save class="btn btn-success" />
            </div>
        </div>
    </div>
    
}