@using LibraryMVC.Resources
@model LibraryMVC.Models.User
@{
    ViewBag.Title = Language_User.PendingRegistration;
}

<h2>@ViewBag.Title:</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName(Language_User.Name)
        </th>
        <th>
            @Html.DisplayName(Language_User.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayName(Language_User.UserName)
        </th>
        <th></th>
    </tr>
    @using (Html.BeginForm())
    {
        <tr>
            <th>
                @Html.DisplayFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayFor(model => model.UserName)
            </th>
            <th>
                <input type="submit" value=@Language_User.Consider name="confirm" class="btn btn-success"/>
                <input type="submit" value=@Language_WorkerPanel.Delete name="confirm" class="btn btn-danger"/>
            </th>
        </tr>
    }
</table>
