@model LibraryMVC.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.Content)
            </div>
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Edit", "Edit", new {id = Model.NewsID}, new {@class = "btn btn-info"})

</p>
