@{
    ViewBag.Title = "Home Page";
}
@using Library.Models
@using LibraryMVC.Resources
@model IEnumerable<LibraryMVC.Models.Book>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/images/slide1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @Language_MainPage.NewBookInCollection
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/images/slide2.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @Language_MainPage.NewBookInCollection From Anne Rice!
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/images/slide3.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @Language_MainPage.NewBookInCollection
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/images/slide4.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @Language_MainPage.NewBookInCollection
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<hr />
<div class="row">
    <h4>@Language_MainPage.NewestTitles</h4>
    <table class="table">
        <tr>
            <th>@Html.Raw(Language_MainPage.Title)</th>
            <th>@Html.Raw(Language_MainPage.Year)</th>
            <th>@Html.Raw(Language_MainPage.Writers)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="max-width: 200px;">
                    @Html.ActionLink(item.Title,"Details", "Books", new { id=item.BookID},null)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Year)
                </td>
                <td>
                    @{
                        string writers = "";
                        foreach (var writer in item.Writers)
                        {
                            writers += writer.Writer.Name.Substring(0, 1) + ". " + writer.Writer.Surname + Environment.NewLine;
                        }
                    }
                    <span style="white-space: pre-line">@Html.Raw(writers)</span>
                </td>
            </tr>
        }
    </table>
</div>
<hr/>
<div>
    <h4>@Language_MainPage.VisitUs</h4>
    <h4>@Language_MainPage.WeROpenEveryDay</h4>
    <h4>9:00 - 18:00</h4>
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAFtKKMP9tnVsRmgy3yA5oBnX9nNQBhOn0'>
    </script>
    <div style='overflow: hidden; height: 460px; width: 100%;'>

        <div id='gmap_canvas' style='height: 460px; width: 100%;'>

        </div>
        <style>
            #gmap_canvas img {
                max-width: none !important;
                background: none !important;
            }
        </style>
    </div>
    <a href='http://maps-generator.com/pl'>Maps-Generator</a>
    <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=180edaffaedb21ca2f81d7c709bfb82c76f230cd'></script>
    <script type='text/javascript'>
    function init_map() {
         var myOptions = {
              zoom: 16, center: new google.maps.LatLng(53.1167019, 23.14611500000001), mapTypeId: google.maps.MapTypeId.HYBRID
         };
         map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
         marker = new google.maps.Marker({
              map: map, position: new google.maps.LatLng(53.1167019, 23.14611500000001)
         }); infowindow = new google.maps.InfoWindow({ content: '<strong>@Language_Shared.LibraryMVC</strong><br>Wiejska 45a<br>15-351 Białystok<br>' });
         google.maps.event.addListener(marker, 'click', function() {
              infowindow.open(map, marker);
         });
         infowindow.open(map, marker);
    } google.maps.event.addDomListener(window, 'load', init_map);
    </script>
</div>
