@{
    ViewBag.Title = "Home Page";
}
@using Library.Models
@model IEnumerable<LibraryMVC.Models.Book>

    <div class="jumbotron">
        <h1>Library MVC</h1>
        <p class="lead">Welcome to Library MVC site: the best online library in the world!</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">About us &raquo;</a></p>
    </div>
    <div class="row">
       
        <table class="table">
            <tr>
                <th>@Html.Raw("Tytuł")</th>
                <th>@Html.Raw("Rok wydania")</th>
                <th>@Html.Raw("Autorzy")</th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.Title,"Details", "Books", new { id=item.BookID},null)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Year)
                </td>
                <td>
                    @{
                        string writers = "";
                        foreach (var writer in item.Writers)
                        {
                            writers += writer.Writer.Name.Substring(0, 1) + ". " + writer.Writer.Surname + Environment.NewLine;
                        }
                    }
                    <span style="white-space: pre-line">@Html.Raw(writers)</span>
                </td>
            </tr>
            }
            </table>
        </div>
