@using Microsoft.AspNet.Identity
@using LibraryMVC.Resources;


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav nav-tabs " }))
    {
    @Html.AntiForgeryToken()
    <ul class="nav nav-tabs navbar-right">
        <li>
            @Html.ActionLink(Language_Shared.Hello + " " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Language_Shared.Logoff</a></li>
        <li><a href="@Url.Action("Index","Basket")">
                @Language_Shared.Basket
                <span class="badge alert-info" style="float: none">
                    @{
                        Html.RenderAction("NumberOfItemsInBasket", "Basket");
                    }
                    </span>
            </a>
        </li>
     </ul>
    }
}
else
{
    <ul class="nav nav-tabs navbar-right">
        <li>@Html.ActionLink(Language_Shared.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Language_Shared.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        
    </ul>
}
