
@{
    ViewBag.Title = "Index";
}

<div class="list-group" style="margin-top:10px ">
    @if (Roles.IsUserInRole(User.Identity.Name,"Admin"))
    {
        <a href="@Url.Action("Index","Users")" class="list-group-item">Users</a>
    }
    @if (Roles.IsUserInRole(User.Identity.Name,"Worker"))
    {
        <a href="@Url.Action("PendingRegistration","Users")" class="list-group-item">Pending registrations</a>
    }
    <a href="@Url.Action("Index","Writers")" class="list-group-item">Writers</a>
    <a href="@Url.Action("Index","Labels")" class="list-group-item">Labels</a>
    <a href="@Url.Action("Index","WorkerPanel")" class="list-group-item">Categories</a>
    <a href="@Url.Action("Index","Books")" class="list-group-item">Books</a>
</div>

