@using Microsoft.AspNet.Identity
@model LibraryMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Borrows:</dt>
        <dd> @Html.ActionLink("Your Borrows","UserIndex","Borrows",new {userid=User.Identity.GetUserId()},null)</dd>
        <dt>Saved Searches:</dt>
        <dd> @Html.ActionLink("Your Searches", "UserIndex", "SearchHistories", new { userid = User.Identity.GetUserId() }, null)</dd>
    </dl>
</div>
