@using LibraryMVC.Resources
@model Library.Models.Category

@{
    ViewBag.Title = Language_WorkerPanel.Delete;
}

<h2>@Language_Categories.DeleteLong</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(Language_Categories.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink(Language_WorkerPanel.BackToList, "Index", null, new { @class = "btn btn-info" })
            <input type="submit" value=@Language_WorkerPanel.Delete class="btn btn-danger"/> 
        </div>
    }
</div>
