@using LibraryMVC.Resources
@model IEnumerable<Library.Models.Category>

@{
    ViewBag.Title = Language_Categories.Categories;
}

<h2>@ViewBag.Title:</h2>

<p>
    @Html.ActionLink(Language_Categories.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName(Language_Categories.Name)
        </th>
        <th>
            @Html.DisplayName(Language_Categories.OverCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverCategory.Name)
        </td>
        <td>
            @Html.ActionLink(Language_WorkerPanel.Edit, "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink(Language_WorkerPanel.Details, "Details", new { id=item.CategoryID }) |
            @Html.ActionLink(Language_WorkerPanel.Delete, "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
